
[submodule "LVGL"]
	path = LVGL
	url = https://github.com/AmbiqMicro/LVGL.git
	branch = ambiq-stable
[submodule "modules/freetype"]
	path = modules/freetype
	url = https://github.com/freetype/freetype.git
